<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>server</display-name>
    <servlet-name>server</servlet-name>
    <servlet-class>server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>server</servlet-name>
    <url-pattern>/server</url-pattern>
  </servlet-mapping>
  <display-name>prehireweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstservlet</display-name>
    <servlet-name>firstservlet</servlet-name>
    <servlet-class>sample.firstservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstservlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>Second</servlet-name>
    <servlet-class>sample.Second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>sample.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSession</display-name>
    <servlet-name>ReadSession</servlet-name>
    <servlet-class>sample.ReadSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSession</servlet-name>
    <url-pattern>/ReadSession</url-pattern>
  </servlet-mapping>
</web-app>